.container-details {
  height: 100vh;
  background-color: #E2F8FA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-details {
  font-size: 1.8rem;
  background-color: white;
  border: 2px solid #F73563;
  width: 400px;
  padding: 3.5em;
  padding-top: 0.5em;
  padding-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50% 20% / 10% 40%;
}
.card-title {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
  color: #EF2051;
}
.card-text{
  font-weight: bold;
  font-size: 1.8rem;
}
.box-close {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
.box-close button {
  border: 0;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  font-size: 1.5em;
  color: white;
  background: #F73563;
  cursor: pointer;
  position: relative;
  right: 0;
  text-decoration-line: none;
}